@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
}
:root{
    --color-burger : rgb(255, 54, 54);
    --color-drink : rgb(0, 183, 255);
    --color-set : rgb(9, 255, 0);
    --color-side : rgb(251, 255, 0);
}

@media screen and (max-width: 500px) {
    :root {
        --card-height: 7vh;
        --card-width: calc(var(--card-height));
        --menuContainer-col: repeat(auto-fill, minmax(33%, auto));
        --padding-sub: 10px 30px;
        --arrow-size: 16px;
    }
}

@media screen and (max-width: 700px) and (min-width:500px) {
    :root {
        --card-height: 13vh;
        --card-width: calc(var(--card-height));
        --menuContainer-col: repeat(auto-fill, minmax(33%, auto));
        --padding-sub: 10px 30px;
        --arrow-size: 20px;
    }
}

@media screen and (max-width: 1300px) and (min-width: 700px) {
    :root {
        --card-height: 13vh;
        --card-width: calc(var(--card-height));
        --menuContainer-col: repeat(auto-fill, minmax(20%, auto));
        --padding-sub: 16px 30px;
        --arrow-size: 24px;
    }
}

@media screen and (min-width: 1300px) {
    :root {
        --card-height: 25vh;
        --card-width: calc(var(--card-height));
        --menuContainer-col: repeat(auto-fill, minmax(10%, auto));
        --menuContainer-row: repeat(auto-fill, minmax(10%, auto));
        --padding-sub: 20px 50px;
        --arrow-size: 26px;
    }
}

/* ---------------------font---------------------- */
.modak {
    font-family: "Modak", system-ui;
    font-weight: 400;
    font-style: normal;
}

/* ---------------------font---------------------- */


body {
    box-sizing: border-box;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: rgb(0, 0, 0);
    position: relative;
}

.headText {
    height: 10vh;
    line-height: 7vh;
    font-size: clamp(0.5rem, 5vw, 3.0rem);
    color: rgba(0, 0, 0, 0.5);
    text-align: center;
    font-weight: 100;
    opacity: 1;
    animation: bright 7s linear infinite;
}

.container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-items: center;
}

.menuContainer {
    display: none;
    margin-top: 100px;
    grid-template-columns: var(--menuContainer-col);
    grid-auto-flow: dense;
    justify-content: center;
    justify-items: center;
    align-items: center;
    gap: 50px;
}

.downbarContainer {
    position: absolute;
    top: 80%;
    left: 15%;
    width: 70vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.downbarContainer2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25%, auto));
    grid-template-columns: repeat(5, auto);
    justify-content: center;
    align-items: center;
}

.downbarMenuContainer {
    position: absolute;
    top: -600%;
    width: 70vw;
    height: 50vh;
    border: 1px solid white;
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(10%, auto));
    justify-content: center;
    align-items: center;
}

.subMenus {
    width: 20vw;
    height: 5vh;
    line-height: 5vh;
    text-align: center;
}

.subMenu {
    color: rgba(255, 255, 255, 0.616);
    font-size: clamp(0.5rem, 5vw, 3.0rem);
}

.downbar {
    position: fixed;
    padding: 0px;
    width: 70vw;
    height: 10vh;
    margin: 10px auto;
    background-color: rgba(255, 255, 255, 0.6);
}

.disable {
    display: none;
}

.enable {
    display: block;
    background-color: white;
}

/* ------------------------card----------------------- */

.checkbox-wrapper-16 *,
  .checkbox-wrapper-16 *:after,
  .checkbox-wrapper-16 *:before {
  box-sizing: border-box;
}

.checkbox-wrapper-16 .checkbox-tile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 7rem;
  min-height: 7rem;
  border-radius: 0.5rem;
  border: 2px solid #b5bfd9;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  transition: 0.15s ease;
  cursor: pointer;
  position: relative;
}

.checkbox-wrapper-16 .checkbox-tile:hover {
  border-color: #2260ff;
}

.checkbox-wrapper-16 .checkbox-tile:hover:before {
  transform: scale(1);
  opacity: 1;
}

.checkbox-wrapper-16 .checkbox-icon {
  transition: 0.375s ease;
  color: #494949;
}

.checkbox-wrapper-16 .checkbox-icon svg {
  width: 3rem;
  height: 3rem;
}

:is(.checkbox-wrapper-16 .checkbox-label, .checkbox-wrapper-16 .eachPrice) {
  color: #000000;
  transition: 0.375s ease;
  text-align: center;
  line-height: 5rem;
}

/* ------------------------card----------------------- */
/* ------------------------animated----------------------- */

@keyframes spin {
    0% {
        --rotate: 0deg;
    }

    100% {
        --rotate: 360deg;
    }
}

@keyframes bright {
    0% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    19% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    20% {
        text-shadow: 0px 0px 10px rgba(0, 255, 0, 0)
    }

    21% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    50% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    51% {
        text-shadow: 0px 0px 10px rgba(0, 255, 0, 0.5),
            0px 0px 20px rgba(0, 255, 0, 0.5),
            0px 0px 30px rgba(0, 255, 0, 0.5);
    }

    52% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    54% {
        text-shadow: 0px 0px 10px rgba(0, 255, 0, 0);
    }

    55% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }

    100% {
        text-shadow: 0px 0px 10px rgb(0, 255, 0),
            0px 0px 20px rgb(0, 255, 0),
            0px 0px 30px rgb(0, 255, 0);
    }
}

/* ------------------------animated----------------------- */

/* -----------------------button ui----------------------- */
/* ---------animated--------- */
.animated-button {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: var(--padding-sub);
    border: 4px solid;
    border-color: transparent;
    font-size: 16px;
    background-color: inherit;
    border-radius: 100px;
    font-weight: 600;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger .animated-button {
    text-shadow: white;
    color: var(--color-burger);
    box-shadow: 0 0 0 2px rgba(255, 0, 0, 0.7),
    0px 0px 20px rgb(255, 0, 0),
    0px 0px 30px rgb(255, 0, 0);
  }
  .drink .animated-button {
    color: var(--color-drink);
    box-shadow: 0 0 0 2px rgb(0, 162, 255, 0.7),
    0px 0px 20px rgb(0, 162, 255),
    0px 0px 30px rgb(0, 162, 255);
  }
  .set .animated-button {
    color: var(--color-set);
    box-shadow: 0 0 0 2px rgb(9, 255, 0, 0.7),
    0px 0px 20px rgb(9, 255, 0),
    0px 0px 30px rgb(9, 255, 0);
  }
  .side .animated-button {
    color: var(--color-side);
    box-shadow: 0 0 0 2px rgb(251, 255, 0, 0.7),
    0px 0px 20px rgb(251, 255, 0),
    0px 0px 30px rgb(251, 255, 0);
  }
/* ---------animated--------- */

/* ---------svg--------- */
  .burger .animated-button svg {
    position: absolute;
    width: var(--arrow-size);
    fill: var(--color-burger);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .drink .animated-button svg {
    position: absolute;
    width: var(--arrow-size);
    fill: var(--color-drink);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .set .animated-button svg {
    position: absolute;
    width: var(--arrow-size);
    fill: var(--color-set);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  .side .animated-button svg {
    position: absolute;
    width: var(--arrow-size);
    fill: var(--color-side);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
/* ---------svg--------- */
  
  .animated-button .arr-1 {
    right: 16px;
  }
  
  .animated-button .arr-2 {
    left: -25%;
  }
  
  /* ---------circle--------- */
  .animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }

  .burger .animated-button .circle{
    background-color: var(--color-burger);
  }
  .drink .animated-button .circle{
    background-color: var(--color-drink);
  }
  .set .animated-button .circle{
    background-color: var(--color-set);
  }
  .side .animated-button .circle{
    background-color: var(--color-side);
  }
  /* ---------circle--------- */

  .animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
  }
  
  .animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: #212121;
    border-radius: 12px;
  }
  
  .animated-button:hover .arr-1 {
    right: -25%;
  }
  
  .animated-button:hover .arr-2 {
    left: 16px;
  }
  
  .animated-button:hover .text {
    transform: translateX(12px);
  }
  
  .animated-button:hover svg {
    fill: #212121;
  }
  
  .animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px greenyellow;
  }
  
  .animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
  }